* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-main: #1f6feb;
  --color-white: #ffff;
  --color-black: #000;
  --color-prim: rgb(13, 17, 23);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background: var(--color-prim);
  text-align: center;
}
button {
  user-select: none;
  cursor: pointer;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
    
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}